
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 40%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #ff7700 0%, #f7dc99 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 90rem;
  height: 60rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.75s;
  background-color: rgb(255, 255, 255);
}
.active {
    background-color: rgba(233, 229, 229, 0.653);
}
.active .current {
    opacity: 1;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 5rem;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-weight: 200;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c73636;
  margin-bottom: auto;
}

.current {
  background-color: #c73636;
  opacity: 0.75;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2.3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.3s;
  padding: 0.7rem 2.5rem;
  background: none;
}
.btn--new {
  top: 2rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}
.btn:hover {
  border-radius: 2rem;
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c73636;
}

.hidden {
  display: none;
}